    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Cadmus Project</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{#menuItems}}
                <li class="{{active === href ? 'active' : ''}}"><a href="#{{href}}">{{text}}</a></li>
                {{/menuItems}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/fiddle" target="_blank">Ractive example at JSFiddle</a></li>
                        <li><a href="/readme" target="_blank">View README</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Ractive Site resources</li>
                        <li><a href="//www.ractivejs.org/" target="_blank">Ractive.js Home Page</a></li>
                        <li><a href="//github.com/rich-harris/Ractive/wiki" target="_blank">Ractive Wiki</a></li>
                        <li><a href="//learn.ractivejs.org/" target="_blank">Ractive Tutorial</a></li>
                    </ul>
                </li>
            </ul>
            {{^user}}
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input id="txt-email" type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input id="txt-pwd" type="password" placeholder="Password" class="form-control">
                </div>
                <button on-tap='dologin' class="btn btn-success">Sign in</button>
            </form>
            {{/user}}
            {{#user}}
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <span style="color: #0088cc; font-weight: bold;">{{name}}</span>
              </div>
              <div class="form-group">
                  <span>&nbsp;&nbsp;&nbsp;</span>
              </div>
              <div class="form-group">
                  <button on-tap='dologout' class="btn btn-warning">Sign out</button>
              </div>
            </form>
            {{/user}}
        </div><!--/.navbar-collapse -->
    </div>
